{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>platform for rights of people</title>
    <link rel="stylesheet" type="text/css" href="{% static 'abc.css' %}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
<header>
<div class="container">
  <div id="branding">
<h1><span style="color:#e8491d"></span> </h1>
</div>
<nav>
  <ul>
    <li><a href="http://127.0.0.1:8000/naik/">Home</a></li>
    <li><a href="http://127.0.0.1:8000/forum">POSTS</a></li>
    <li class="current"><a href="http://127.0.0.1:8000/contact/">CONTACT US</a></li>
    </ul>
  </nav>
</div>
</header>
<section id="showcase">
<div class="container">
<h1>
  YOU ARE ON THE PLATFORM TO FIGHT FOR THE RIGHTS YOU DESERVE TO.
</h1>
<p>For any queries, Please contact us at 000-000-000</p>
</div>
  </section>
  </body>
</html>